*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

code {
  font-family: "Roboto Mono", monospace;
  color: $success;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*normalized css reset 會保留文字下方的bottom*/
  margin-bottom: 0;
}
p {
  /*normalized css reset 會保留文字下方的bottom*/
  margin-bottom: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.icon-unfilled {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
